html, body {
	color: rgba(51,51,51,1)!important;
}

h1 {
	font-size: 25px;
	font-family: poiret-one, sans-serif;
	margin-bottom: 2px;
}

h2 {
	font-size: 15px;
	font-family: abel, sans-serif;
	margin-top: 0;
	color: rgba(51, 51, 51, 0.3)!important;
	font-weight: lighter;
}

p {
	font-size: 15px;
	font-family: abel, sans-serif;
	margin-top: 0;
	font-weight: lighter;
	color: rgba(51,51,51,0.8);
}

a {
	color: rgba(111, 189, 255, 0.8);
}

a:hover {
	text-decoration: none;

}

small {
	color: rgba(51,51,51,0.6);
}

.container {
	margin-top: 15%;
}

.logo {
	width: 300px;
	/*height: 296px;*/
	margin-left: 20px;
}

.meta {
	margin-left: 50px;
}
